<div class="ui large menu">
  <a class="active item" href="/">Home</a>
  <a class="item" href="/skills">Skills</a>
  <div class="right menu">
    <div class="ui dropdown item">
      Skills <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <div class="ui dropdown item">
      <div class="text">Today</div>
      <i class="dropdown icon"></i>
      <div class="menu" tabindex="-1">
        <div class="item" data-text="today">Today</div>
        <div class="item" data-text="this week">This Week</div>
        <div class="item" data-text="this month">This Month</div>
      </div>
    </div>
    <%if(!user){%>
      <div class="item">
        <a href="/signin" class="ui primary button">SignIn</a>
      </div>
    <%}else{%>
      <div class="item">
        <!--TODO:: Add signup icons-->
        <a href="/signout" class="ui primary button">SignOut</a>
      </div>
    <%}%>
  </div>
</div>
