<% include header %>
<div class="ui container">
  <% include menu %>

  <h1><%-title %></h1>
  <p>Welcome to <%-appName%></p>
  <a href="/signin">Sign in</a>
  <a href="/signup">Sign up</a>

</div>
<%- include('./forms/addSkill.ejs') %>
<% include footer %>
