<div class="ui large menu">
  <a class="active item" href="/">Home</a>
  <a class="item" href="/skills">Progress</a>
  <div class="right menu">
    <div class="ui dropdown item">
      Skills <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <%if(!user){%>
      <div class="item">
        <a href="/signin" class="ui primary button">SignIn</a>
      </div>
    <%}else{%>
      <div class="item">
        <a href="/signout" class="ui primary button">SignOut</a>
      </div>
    <%}%>
    <div class="item">
      <div class="ui primary button">Add Skill</div>
    </div>
  </div>
</div>
